.blog p {
  text-align: justify;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 23px;
  padding-bottom: 20px;
  color: #252525;
}

.blog h1 {
  text-align: center;
  color: #252525;
  font-weight: bold;
}
