* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
}

#hero {
  height: 89vh;
  width: 100%;
  background: url("../assets/GradientHeader.png") no-repeat center bottom / cover;
  color: whitesmoke;
}
.container {
  display: flex;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: left;

}
#hero .info h1 {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}
#hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(131, 62, 242, 0.25);
  background: url(../assets/wave2.png);
  background-size: 1000px 100px;
}
.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 100;
  opacity: 0.2;
  animation-delay: 0s;
  bottom: 0;
}
.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 99;
  opacity: 0.3;
  animation-delay: -2s;
  bottom: 0px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}
