.logo h1 {
  text-align: center;
  text-shadow: 4px 4px 5px #7a3cea;
  color: #252525;
  font-weight: bold;
}
.logo h2 {
  color: #252525;
  text-shadow: 4px 4px 5px #7a3cea;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

