.logo h1 {
  text-align: center;
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
  color: #252525;
  font-weight: bold;
}
.logo h2 {
  color: #252525;
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

